.page-template-template-page_login {
  .login {
    form {
      text-align: center;
      label {
        width: 120px;
      }
      input[type=text],input[type=password]{
        border: 5px solid black;
        padding: 3px 10px;
        background: rgba(0,0,0,.1);
        margin: 0 0 10px;
        font-size: 18px;
      }
      input#wp-submit {
        border: 5px solid black;
        padding: 3px 15px;
        background: rgba(0,0,0,.1);
        margin: 0 0 10px;
        font-size: 18px;
      }
    }
  }
}
