/*--------------------------------------------------------------
Needed if using a fixed navbar
--------------------------------------------------------------*/
body {
	padding-top: 70px;
	.site-content {
		margin-top: 10px;
		margin-bottom: 65px;
	}

}

.navbar {
	@include admin-sticky-fix;
}
