/*--------------------------------------------------------------
Needed if using a fixed navbar
--------------------------------------------------------------*/
body {
	padding-top: 70px;

}

.navbar {
	@include admin-sticky-fix;
}
